*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
}
.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background-color: aquamarine;
  width: fit-content;
  color: #333;
  padding: 0.8rem 2.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #0b0909; 
}
.btn::before{
  content: "";
  position: absolute;
  background-color: #333;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left right;
  transition: 1s ease;
  border-radius: 0.5rem;
}
.btn:hover{
  color:aliceblue;
  cursor: pointer;
}
.btn:hover::before{
  transform: scaleX(1); 
}